apiVersion: v1
kind: Service
metadata:
  name: hackathon-devops-service
  namespace: hackathon-devops
spec:
  selector:
    app: hackathon-devops-pod
  ports:
  - port: 3099
    targetPort: 8501
    protocol: TCP
    name: http
  type: ClusterIP